@font-face {
  font-family: 'iconfont';  /* project id 1495806 */
  src: url('//at.alicdn.com/t/font_1495806_6j380ts6817.eot');
  src: url('//at.alicdn.com/t/font_1495806_6j380ts6817.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1495806_6j380ts6817.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1495806_6j380ts6817.woff') format('woff'),
  url('//at.alicdn.com/t/font_1495806_6j380ts6817.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1495806_6j380ts6817.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
