* {
  margin: 0;
  padding: 0;
}

.left {
  background-color: aqua;
  width: 200px;
}
.middle {
  background-color: yellow;
  width: calc(100vw - 200px - 200px);
}
.right {
  background-color: teal;
  width: 200px;
}

