// .babelrc or babel-loader option
{
  "presets": ["next/babel"],
  "plugins": [
    ["import", {
      "libraryName": "antd"
      // "libraryDirectory": "es",
      // "style": "css" // 此项会自动加载css,你不需要自己import css `style: true` 会加载 less 文件
    }]
  ]
}