* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: #ec5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .left {
  display: inline-block;
  flex: 0.125;
  height: 12.5%;
  background-color: #fff;
  transform: translateX(-50%);
}
.container .middle {
  display: inline-block;
  flex: 0.125;
  height: 12.5%;
  background-color: #000;
}
.container .right {
  display: inline-block;
  flex: 0.125;
  height: 12.5%;
  transform: translateX(50%);
  background-color: #fff;
}
