    * {
        margin: 0;
        padding: 0;
    }
    
    *::before,
    *::after {
        /* 固定盒子大小 */
        box-sizing: border-box;
    }
    
    body {
        font-family: sans-serif;
        font-size: 1rem;
        line-height: 1.5;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #ffff;
        overflow: hidden;
    }
    
    .container {
        position: relative;
        /* 缩放0.725 */
        transform: scale(0.725);
    }
    
    .loding-text {
        position: relative;
        font-size: 3.75rem;
        font-weight: 300;
        /* 不换行 */
        white-space: nowrap;
    }
    
    .loding-text::before {
        content: '';
        position: absolute;
        top: 40px;
        left: 115px;
        background-color: #000;
        width: 6px;
        height: 6px;
        border-radius: 5px;
        animation: dotMove 1800ms cubic-bezier(0.25, 0.25, 0.75, 0.75) infinite;
    }
    
    @keyframes dotMove {
        0%,
        100% {
            transform: rotate(180deg) translate(-100px, -10px) rotate(-180deg);
            transform-origin: 100% 75%;
        }
        50% {
            transform: rotate(0deg) translate(-111px, 10px) rotate(80deg);
        }
    }
    
    .letter {
        /* 行内块级 */
        display: inline-block;
        position: relative;
        color: #000;
        /* 字间距 */
        letter-spacing: 1px;
    }
    
    .letter:nth-child(1) {
        transform: scale(1, 1.275);
        /* 设置的动画的基点 */
        transform-origin: 100% 70%;
    }
    
    .letter:nth-child(1)::before {
        content: '';
        position: absolute;
        top: 22px;
        left: 0;
        width: 14px;
        height: 36px;
        background-color: #fff;
        transform-origin: 100% 0;
        animation: lineStretch 1800ms cubic-bezier(0.25, 0.25, 0.75, 0.75) infinite;
    }
    
    @keyframes lineStretch {
        0%,
        45%,
        70%,
        100% {
            transform: scaleY(0.125);
        }
        49% {
            transform: scaleY(0.75);
        }
        50% {
            transform: scaleY(0.85);
        }
        533% {
            transform: scaleY(0.5);
        }
        60% {
            transform: scaleY(0);
        }
        68% {
            transform: scaleY(0.18);
        }
    }
    
    .letter:nth-child(5) {
        transform-origin: 100% 70%;
        animation: letterStretch 1800ms cubic-bezier(0.25, 0.25, 0.75, 0.75) infinite;
    }
    
    .letter:nth-child(5)::before {
        content: '';
        position: absolute;
        top: 16px;
        left: 2px;
        width: 9px;
        height: 15px;
        background-color: #fff;
    }
    
    @keyframes letterStretch {
        0%,
        100% {
            transform: scale(1, 0.35);
            transform-origin: 100% 75%;
        }
        8%,
        28% {
            transform: scale(1, 1.85);
            transform-origin: 100% 67%;
        }
        37% {
            transform: scale(1, 0.85);
            transform-origin: 100% 75%;
        }
        46% {
            transform: scale(1, 1.03);
            transform-origin: 100% 75%;
        }
        50%,
        97% {
            transform: scale(1);
            transform-origin: 100% 75%;
        }
    }