*{
  margin: 0;
  padding: 0;
}
ul li{
  list-style: none;
}
html,body{
  width: 100%;
}
.main{
  width: 100%;
}
.header{
  padding: 10px 5px;
  background-color: #eeeeee;
  text-align: center;
}
.search{
  width: 100%;
}
.search input{
  width: 100%;
  box-sizing: border-box;/*border-box：它放在这的意义：？*/
  /* -moz-box-sizing:border-box; /* Firefox */
  /*-webkit-box-sizing:border-box; Safari */
  padding: 5px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  text-align: center;
  outline: none;/*属性在一个声明中设置input轮廓属性*/
  margin-top: 15px;
}
.content{
  width: 100%;
}
.content-items{
  width: 100%;
}
.content-item{
  display: flex;
  padding: 10px;
  /* justify-content: center; */
  align-items: center;
}
.pic{
  width: 60px !important; 
  /* flex: 1; */
  height: 60px;
  border-radius: 5px;
}
.pic img{
  display: block;
  width: 100%;
  border-radius: 5px;
  height: 100%;
}
.message{
  flex: 1;/*flex:有何意义？*/
  margin-left: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  /* margin-bottom: 10px; */
}
.name{
  font-size: 16px;
  margin-bottom: 8px;
}
.detail{
  font-size: 12px;
  max-width: 280px;
  color: #555555;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;/*显示省略符号来代表被修剪的文本*/
}
.footer{
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding: 10px 0 5px 0;
  background-color: #eee;
  border-top: 1px solid #e5e5e5;
}
.ft-items{
  width: 100%;
  display: flex;
}
.item{
  flex: 1;
  text-align: center;
}
.item img{
  display: block;
  width: 20px;
  margin: 0 auto;
}
.item-name{
  font-size: 12px;
  color: #555555;
}